@use 'styles/variables.scss' as *;

.Column {
    display: flex;
    flex-direction: column;
    flex: 1;
    z-index: 1;
    position: relative;

    &--wide {
        flex: 2;
    }

    &--half {
        flex: 0.5;
        @media screen and (max-width: ($breakpoint-md - 1)) {
          flex: 1;
        }
    }

    &--vCenter {
        justify-content: center;
    }

    &--hCenter {
        align-items: center;
    }
}