.footer {
  background: var(--pico-card-background-color);
  box-shadow: inset var(--pico-card-box-shadow);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer__item {
  padding: var(--block-spacing-vertical) 0;
}

.divider {
  margin-bottom: 2rem;
}
