---
import styles from './SectionTitle.module.css';

interface Props {
  title: string;
  id: string;
}

const { title, id } = Astro.props;
---

<h2 class={styles.title}>
  <a href={`#${id}`}>
    {title}
  </a>
</h2>
