.Navbar {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  position: fixed;
  width: 100%;
  padding: 1rem 6.5rem;
  backdrop-filter: blur(0.5rem);
  z-index: 2;
}

.Navbar > .Line {
  height: 2px;
  width: 100%;
  background-color: var(--text-color);
  margin: 2.5rem 0;
}

.Navbar > .Links,
.Navbar > .Logo {
  align-self: center;
  padding: 0 3rem;
  display: inline-flex;
}

.Navbar > .Links {
  list-style: none;
}

.Navbar > .Links > li {
  padding-left: 3rem;
}

.Navbar > .Links > li:nth-child(1) {
  padding-left: 0;
  position: relative;
}

.Navbar > .Links > li.active::after {
  content: "";
  width: 2rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -1rem;
  left: 1rem;
}

.Navbar > .Links > li.active {
  color: var(--primary-color);
}

.Navbar > .Logo > .IconWrapper {
  align-self: center;
  flex: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--text-color);
  border-radius: 0.5rem;
  font-size: 0.75rem;
  margin-right: 1rem;;
}

.Navbar > .Logo .Surname {
  color: var(--primary-color);
}

.Navbar > .ExternalLinks {
  position: fixed;
  display: flex;
  top: 6.5rem;
  right: 6.5rem;
  flex-direction: column;
  height: calc(100vh - 2*6.5rem);
  justify-content: center;
}

.Navbar > .ExternalLinks > .Line {
  width: 2px;
  height: 37rem;
  background-color: var(--text-color);
}

.Navbar > .ExternalLinks > .Line:nth-child(1) {
  height: 29.5rem;
}

.Navbar > .ExternalLinks > .Items {
  padding-left: 0;
  list-style: none;
}

.Navbar > .ExternalLinks > .Items > li {
  padding-top: 1rem;
}

.Navbar > .ExternalLinks > .Items > li,
.Navbar > .ExternalLinks > .Items > li:hover {
  transition: color 0.15s ease-in-out;
}

.Navbar > .ExternalLinks > .Items > li:hover {
  color: var(--primary-color);
}

.Navbar > .ExternalLinks > .Items > li:nth-child(1) {
  padding-top: 0;
}