.Navbar {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
}

.Navbar > .Line {
  height: 2px;
  width: 100%;
  background-color: var(--text-color);
  margin: 2.5rem 0;
}

.Navbar > .Links,
.Navbar > .Logo {
  align-self: center;
  padding: 0 3rem;
  display: inline-flex;
}

.Navbar > .Logo > .IconWrapper {
  align-self: center;
  flex: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--text-color);
  border-radius: 0.5rem;
  font-size: 0.75rem;
  margin-right: 1rem;;
}

.Navbar > .Logo .Surname {
  color: var(--primary-color);
}