@use 'styles/variables.scss' as *;

.Skills {
    text-align: center;
    border-radius: 5px;

    & article {
        &:nth-child(2) {
            border: 2px solid;
            border-image-source: $brand-bg;
            border-image-slice: 1;
            position: relative;
            z-index: 100;
        
            @media screen and (min-width: $breakpoint-md) {
                transform: scale(1.1);
            }
        }

        & ul {
            text-align: left;

            & strong {
                float: right;
            }
        }
    }
}
