@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.pie {
    --p: 20;
    --b: 22px;
    --c: var(--primary-color);
    --w: 150px;

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    transition: transform 0.15s ease-in-out;
}

.pie:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.15s ease-in-out;
}

.pie:before {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie::after {
    content: "";
    inset: 0;
    position: absolute;
    border-radius: 50%;
    border: 0.5rem solid rgba(0, 0, 0, 0.2);
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    z-index: 0;
}

.pie:before {
    inset: 0;
    background:
        conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    position: absolute;
    z-index: 1;
}

.animate {
    animation: p 1s .5s both;
}

.no-round:before {
    background-size: 0 0, auto;
}

.no-round:after {
    content: none;
}

@keyframes p {
    from {
        --p: 0
    }
}

.Skill {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
    width: 15vw;
    border-radius: 15vw;
    margin: 4rem 2rem;
}

.Skill>.Label {
    font-size: 2rem;
}