@use 'styles/variables.scss' as *;

$inner-width-xl: 60%;
$inner-width-lg: 70%;
$inner-width: 80%;
$inner-width-sm: 90%;
$fluid-width: 100%;
$height: 90vh;

.Container {
  width: $inner-width;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  &--fluid {
    margin: 0;
    width: $fluid-width !important;
  }

  &--section {
    height: $height;
  }
}

@media screen and (max-width: ($breakpoint-md - 1)) {
  .Container {
    width: $inner-width-sm;
    height: auto;
    min-height: 93vh;
    flex-direction: column;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .Container {
    width: $inner-width-lg;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .Container {
    width: $inner-width-xl;
  }
}