---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Footer from "../sections/Footer.astro";
import Frontend from "../sections/Frontend.astro";
import Backend from "../sections/Backend.astro";
import Leadership from "../sections/Leadership.astro";
import UX from "../sections/UX.astro";
import Experience from "../sections/Experience.astro";
import Stripe from "../components/Stripe.astro";
---

<Layout
  title="Seb Dybowski - Software Engineer & UI/UX Designer"
  description="Seb Dybowski - Software Engineer & UI/UX Designer"
>
  <main>
    <Hero />
    <Stripe />
    <Experience />
    <Stripe />
    <div class="container">
      <Frontend />
      <Backend />
      <Leadership />
      <UX />
    </div>
  </main>
  <Stripe />
  <Footer />
</Layout>

<style>
  body > main {
    padding: 0;
  }

  /* body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background: repeating-linear-gradient(
      45deg,
      var(--pattern-color),
      var(--pattern-color) 1rem,
      var(--background-color) 1rem,
      var(--background-color) 2rem
    );
  } */

  body {
    background: radial-gradient(
      circle,
      var(--pattern-color) 10%,
      transparent 11%
    );
    background-size: 50px 50px;
    background-position: center;
  }

  /* body {
    background: radial-gradient(
        circle,
        var(--pattern-color) 10%,
        transparent 11%
      ),
      radial-gradient(
        circle at bottom left,
        var(--pattern-color) 5%,
        transparent 6%
      ),
      radial-gradient(
        circle at bottom right,
        var(--pattern-color) 5%,
        transparent 6%
      ),
      radial-gradient(
        circle at top left,
        var(--pattern-color) 5%,
        transparent 6%
      ),
      radial-gradient(
        circle at top right,
        var(--pattern-color) 5%,
        transparent 6%
      );
    background-size: 3em 3em;
  } */

  /* body {
    background: repeating-linear-gradient(
        0deg,
        var(--background-color) 0,
        var(--background-color) 20%,
        transparent 0,
        transparent 50%
      ),
      repeating-linear-gradient(
        45deg,
        var(--pattern-color) 0,
        var(--pattern-color) 10%,
        transparent 0,
        transparent 50%
      );
    background-size: 3em 3em;
  } */
</style>
