---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Footer from "../sections/Footer.astro";
import Frontend from "../sections/Frontend.astro";
import Backend from "../sections/Backend.astro";
import Leadership from "../sections/Leadership.astro";
import UX from "../sections/UX.astro";
import Experience from "../sections/Experience.astro";
import Stripe from "../components/Stripe.astro";
---

<Layout
  title="Seb Dybowski - Software Engineer & UI/UX Designer"
  description="Seb Dybowski - Software Engineer & UI/UX Designer"
>
  <main>
    <Hero />
    <Stripe />
    <Experience />
    <div class="container">
      <Frontend />
      <Backend />
      <Leadership />
      <UX />
    </div>
  </main>
  <Stripe />
  <Footer />
</Layout>

<style>
  body > main {
    padding: 0;
  }
</style>
