---
import '../global.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Seb Dybowski - Software Engineer & UI/UX Designer" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Seb Dybowski - Software Engineer & UI/UX Designer</title>
  </head>
  <body>
    <main>
      <h1>The page is under construction ⚒️</h1>
      <p>More content coming soon...</p>
    </main>        
  </body>
</html>

<style>
  main {
    text-align: center;
  }
</style>