---
import Layout from '../layouts/Layout.astro';
import Backend from '../sections/Backend.astro';
import Experience from '../sections/Experience.astro';
import Footer from '../sections/Footer.astro';
import Frontend from '../sections/Frontend.astro';
import Hero from '../sections/Hero.astro';
import Leadership from '../sections/Leadership.astro';
import UX from '../sections/UX.astro';
---

<Layout
  title="Seb Dybowski - Software Engineer & UI/UX Designer"
  description="Seb Dybowski - Software Engineer & UI/UX Designer"
>
  <main>
    <Hero />
    <Experience />
    <div class="container">
      <Frontend />
      <Backend />
      <Leadership />
      <UX />
    </div>
  </main>
  <Footer />
</Layout>

<style>
  body > main {
   padding: 0;
   padding: 0;
  }

  body {
    --dot-radius: 10%;
    --dot-spacing: 52px;

    background: radial-gradient(
      circle,
      var(--pattern-color) var(--dot-radius),
      transparent var(--dot-radius)
    );
    background-size: var(--dot-spacing) var(--dot-spacing);
    background-position: center;
  }
</style>
