---
import Layout from "../layouts/Layout.astro";

const links = [
  {
    title: "Astro",
    url: "https://astro.dybowski.pro",
  },
  {
    title: "Next.js 14",
    url: "https://next14.dybowski.pro",
  },
  {
    title: "AWS",
    url: "https://aws.dybowski.pro",
  },
];
---

<Layout title="Seb Dybowski - Trainings" description="Seb Dybowski - Trainings">
  <section class="container-hybrid">
    <h1>Trainings</h1>
    <ul>
      {
        links.map((link) => (
          <li>
            <a href={link.url}>{link.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
  <iframe
    width="100%"
    height="512px"
    src="https://www.youtube.com/embed/ILHGfk1H7Bs?si=SP9SRpVFV0T7dEYy"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
    style="margin: 0 auto;"></iframe>
</Layout>
