.Footer {
  height: 20rem;
  display: flex;
  background-image: url('/footer-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
  align-items: flex-end ;
}

.Footer > .Content {
  z-index: 1024;
  position: absolute;
  border-top: 2px solid var(--text-color);
  margin: 0 6.5rem;
  width: calc(100% - 13rem);
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  padding: 2rem 0;
  align-items: center
};