---
import { Icon } from "astro-icon/components";
import ThemeSwitcher from "../ThemeSwitcher/ThemeSwitcher.astro";
import LinkButton from "../../components/LinkButton/LinkButton.astro";
import Links from "./Links.astro";
// import styles from "./Navbar.module.css";

const links = [
  { id: "home", label: "Home" },
  { id: "experience", label: "Experience" },
  { id: "frontend", label: "Frontend" },
  { id: "backend", label: "Backend" },
  { id: "leadership", label: "Leadership" },
  { id: "design", label: "UX" },
];
---

<nav class="container" id="navbar">
  <ul>
    <li>
      <ThemeSwitcher />
    </li>
  </ul>
  <ul class="menu__button__wrapper">
    <button type="button" aria-label="menu button" id="menu__button">
      <Icon name="lucide:text" class="menu__icon--burger" />
      <Icon name="lucide:x" class="menu__icon--close" />
    </button>
  </ul>
  <Links links={links} />
</nav>

<style>
  #navbar {
    z-index: 1;
  }

  html[data-theme="light"] #navbar {
    --background-color: rgba(255, 255, 255, 0.8);
  }

  html[data-theme="dark"] #navbar {
    --background-color: rgba(0, 0, 0, 0.8);
  }

  .navbar--sticky {
    position: sticky;
    top: 0;
    backdrop-filter: blur(0.25rem);
    background-color: rgba(var(--background-color), 0.8);
    border-bottom: var(--pico-border-width) solid var(--pico-muted-border-color);
  }

  li.visible--sticky {
    padding: 0 var(--nav-element-spacing-horizontal);
    margin-left: 0.25rem;
  }

  .visible--sticky {
    display: none;
  }

  .navbar--sticky .visible--sticky {
    display: inline-block;
  }

  .menu__button__wrapper {
    display: none;
  }

  @media screen and (max-width: 992px) {
    .navbar--open .links {
      display: flex;
      flex-direction: column;
    }

    .navbar--open .menu__icon--burger {
      display: none;
    }

    #navbar:not(.navbar--open) .menu__icon--close {
      display: none;
    }

    #menu__button {
      color: var(--h1-color);
      border: none;
      background: transparent;
    }

    .links {
      display: none;
      padding: 0 calc((100% - 700px) / 2);
    }

    .navbar--open .links {
      position: absolute;
      margin-top: 3.5rem;
      padding-bottom: 2rem;
      width: 100%;
      left: 0;
      z-index: 2;
      background-color: var(--pico-background-color);
      backdrop-filter: blur(0.25em);
    }

    .navbar--open .links > li {
      width: 100%;
      text-align: right;
      padding: var(--pico-nav-element-spacing-vertical) 0;
    }

    li.visible--sticky {
      margin-top: 1rem;
      display: inline;
    }

    .menu__button__wrapper {
      display: inline-flex;
      position: relative;
      margin-right: calc(var(--spacing) * -1);
    }

    .menu__button__wrapper button {
      margin: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .navbar--open .links > li {
      padding: var(--nav-element-spacing-vertical) 1rem;
    }
  }
</style>

<script>
  import initNavbarSticky from "./navbar";

  initNavbarSticky();
</script>
