@use 'styles/variables.scss' as *;

.Footer {
  height: 20vh;
  display: flex;
  background-color: $brand-color-primary;
  background-image: $brand-bg;
  flex-direction: column;
  justify-content: center;
}

.Footer>.Content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: $text-color-light;
}

.Footer>.Content>.Year {
  font-size: 2rem;
}

.Footer>.Content>.Year>.Year__End {
  font-size: 3rem;
  font-weight: bold;
}

.Footer>.Content>.Caption {
  font-size: 1rem;
  line-height: 2rem;
}

.Footer>.Content>.Caption a {
  text-decoration: underline;
}