---
import { Link2 } from "lucide-preact";

export interface Props {
  name: string;
  type: string;
}

const { name, type } = Astro.props;
---

<div class="company">
  <div class="company__icon">
    <slot />
  </div>
  <div class="company__info">
    <strong class="company__name">{name}</strong>
    <hr />
    <span class="company__type">{type}</span>
  </div>
</div>

<style>
  .company {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .company__icon {
    margin-right: 1rem;
  }

  .company__info {
    flex-grow: 1;
  }

  .company__name {
    font-size: 1.25rem;
  }

  .company__type {
    font-size: 0.75rem
  }

  hr {
    width: 100%;
  }
</style>
