---
import { Keyboard, Mouse } from "lucide-preact";
---

<figure class="container-hybrid">
  <div class="grid">
    <!-- <span class="left"><kbd>Ctrl + [</kbd> - <i>prev</i></span> -->
    <span class="left"
      >To navigate use <Keyboard aria-label="keyboard" /> or<Mouse />.</span
    >
    <!-- <span class="right"><i>next</i> - <kbd>Ctrl + ]</kbd></span> -->
  </div>

  <style scoped>
    figure {
      position: absolute;
      z-index: 1;
    }

    div {
      width: 100%;
      padding: 0.5rem 0;
      margin: 0;
      display: inline-block;
    }

    .center {
      text-align: center;
    }

    .right {
      text-align: right;
    }

    .close {
      display: inline-block;
      margin: 0.5rem 0;
      float: right;
    }
  </style>
</figure>
