---
interface Props {
  id: string;
  svg: string;
  svgAlt: string;
  title: string;
  inverse?: boolean;
}

const { id, svg, svgAlt, title, inverse = false } = Astro.props;
---

<section class:list={["grid", { ["grid--inverse"]: inverse }]} id={id}>
  <article>
    <h2>{title}</h2>
    <slot />
  </article>
  <img src={svg} alt={svgAlt} />
</section>

<style>
  h2::before {
    content: "# ";
    font-style: italic;
  }

  .grid > img {
    margin: var(--block-spacing-vertical) 0;
    width: 100%;
    min-width: 100%;
    align-self: center;
  }

  .grid--inverse > article {
    order: 1;
  }

  article {
  }
</style>
