.grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media screen and (max-width: 992px) {
    flex-direction: column-reverse;
  }
}

.gridInverse {
  /* flex-direction: row-reverse; */
  direction: rtl;

  @media screen and (max-width: 992px) {
    flex-direction: column-reverse;
  }
}

.grid__item {
  direction: ltr;
  flex: 1;
}

.image {
  margin: var(--block-spacing-vertical);
  align-self: center;
}

.image > img {
  width: 100%;
}
