.Hero {
  background-image: linear-gradient(#333 0%, black 100%);
  display: flex;
  flex-direction: row;
}

.Skills {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Contact {
  background-image: linear-gradient(black, var(--background-color));
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Hero,
.Skills,
.Contact {
  top: 200px;
}

.Column {
  width: 50%;
  flex-shrink: 1;
}

.Column--narrow {
  z-index: 1;
}

.Column--wide {
  width: 60%;
  top: 4rem;
  z-index: 0;
}

.Column--vcentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Portrait {
  min-height: 90vh !important;
  margin: auto auto 0 !important;
}