.Hero {
  background-color: #21D4FD;
  background-image: linear-gradient(20deg, #21D4FD 0%, #B721FF 100%);
  display: flex;
  flex-direction: row;
}

.Skills {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Contact {
  background-image: var(--background-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Skills,
.Contact {
  padding-top: 5rem !important;
  background-color: var(--text-color);
  color: var(--primary-color);
}

.Column {
  width: 50%;
  flex-shrink: 1;
}

.Column--narrow {
  z-index: 1;
}

.Column--wide {
  width: 60%;
  top: 4rem;
  z-index: 0;
}

.Column--vcentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Portrait {
  min-height: 90vh !important;
  margin: auto 4rem 0 auto !important;
  opacity: 0.75;
}