---
import Section from '../components/Section.astro';
import Svg from '../assets/svg/Data_storage_Monochromatic_2.svg';

const sectionTitle = 'backend';
---

<Section
  id={sectionTitle}
  svg={Svg}
  svgAlt="Server development illustration"
  title={sectionTitle}
  inverse
>
  <p>
    I use Node.js to create powerful and scalable server-side applications.
    Though my Java skills are still in development, I'm always expanding my
    expertise. I also have experience with AWS, enabling me to design and deploy
    cloud-based solutions that are both reliable and cost-effective. From REST
    APIs to complex data processing, I build secure and efficient systems that
    power digital products to success.
  </p>
</Section>
