---
import Company from "../components/Company.astro";
import SectionTitle from "../components/SectionTitle.astro";

const id = "experience";
const size = "4.25rem";
---

<section class="container-hybrid companies" id={id}>
  <div class="companies__inner">
    <div class="text--center">
      <SectionTitle id={id} title={id} />
      <p>Companies I had a pleasure to cooperate with:</p>
    </div>
    <div class="grid">
      <Company name="J-Labs" type="IT Services On-demand">
        <i class="bi bi-braces-asterisk"></i>
      </Company>
      <Company name="Shell Energy" type="Energy Supplier">
        <i class="bi bi-battery-charging"></i>
      </Company>
      <Company name="UBS" type="Investment Bank">
        <i class="bi bi-cash-coin"></i>
      </Company>
      <Company name="Lumesse" type="Talent Acquisiton">
        <i class="bi bi-stars"></i>
      </Company>
      <Company name="Intive" type="IT Services On-demand">
        <i class="bi bi-braces-asterisk"></i>
      </Company>
      <Company name="Comarch" type="Software Development">
        <i class="bi bi-file-earmark-binary-fill"></i>
      </Company>
    </div>
  </div>
</section>

<style>
  #experience {
    margin: 0;
  }

  .companies {
    margin-bottom: 2rem;
    background: var(--card-background-color);
    box-shadow: inset var(--card-box-shadow);
  }

  .companies__inner {
    padding: var(--block-spacing-vertical) 0;
  }

  .grid {
    grid-template-columns: auto auto auto;
  }

  i.bi {
    font-size: 4.25rem;
    line-height: initial;
  }

  @media screen and (max-width: 1200px) {
    .grid {
      grid-template-columns: auto auto auto;
    }
  }

  @media screen and (max-width: 992px) {
    .grid {
      grid-template-columns: auto auto;
    }

    i.bi {
      font-size: 2rem;
    }
  }

  h1,
  p {
    text-align: center;
  }
</style>
