---
import { Github, Linkedin, Twitter, Mail } from "lucide-preact";

const currentYear = new Date().getFullYear();
const links = [
  { url: "https://github.com/sebdybowski", label: "Github", Icon: Github },
  {
    url: "https://pl.linkedin.com/in/sebastian-dybowski",
    label: "LinkedIn",
    Icon: Linkedin,
  },
  {
    url: "https://twitter.com/sebdybowskidev",
    label: "Twitter",
    Icon: Twitter,
  },
  {
    url: "mailto:dybowski.seb@gmail.com",
    label: "E-mail",
    Icon: Mail,
  },
];
---

<footer class="container-hybrid">
  <div class="grid">
    <div>
      <h4>{currentYear} / Seb Dybowski</h4>
      <hr />
      <p>
        Proudly created with
        <a href="https://astro.build/" target="_blank">Astro</a> and <a
          href="https://picocss.com/"
          target="_blank">Pico.css</a
        >.
      </p>
      <p>
        Advocating for <i>Free and Open Source Software</i>.<br /> Check out this
        website's
        <a href="https://github.com/sebdybowski/dybowski.pro">source code</a>.
      </p>
    </div>
    <div>
      <h4>Connect</h4>
      <hr />
      <ul>
        {
          links.map(({ url, label, Icon }) => (
            <li>
              <a href={url} target="_blank">
                <Icon size="1rem" class="icon" /> / {label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</footer>

<style>
  footer {
    background: var(--card-background-color);
    box-shadow: inset var(--card-box-shadow);
  }

  footer > div {
    padding: var(--block-spacing-vertical) 0;
  }

  hr {
    margin-bottom: 2rem;
  }

  .icon {
    margin-top: -0.25rem;
  }
</style>
