---
const currentYear = new Date().getFullYear();
---

<footer class="container">
  <div class="grid">
    <div>
      <h4>{currentYear}</h4>
      <hr />
      <p>
        Proudly created with
        <a href="https://astro.build/" target="_blank">Astro</a> and <a
          href="https://picocss.com/"
          target="_blank">Pico.css</a
        >.
      </p>
    </div>
    <div>
      <h4>Links</h4>
      <hr />
      <ul>
        <li><a href="https://github.com/sebdybowski">Github</a></li>
        <li>
          <a href="https://pl.linkedin.com/in/sebastian-dybowski">LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<style></style>
