<footer class="container">
  <div class="grid">
    <div>
      <h4>2022</h4>
      <hr />
      <p>
        Proudly created with <a href="https://astro.build/" target="_blank"
          >Astro</a
        > and <a href="https://picocss.com/" target="_blank">Pico.css</a>.
      </p>
    </div>
    <div>
      <h4>Links</h4>
      <hr />
      <ul>
        <li><a>Github</a></li>
        <li><a>LinkedIn</a></li>
      </ul>
    </div>
  </div>
</footer>

<style>

</style>
