---
import Section from '../components/Section/Section.astro';
import Svg from '../assets/svg/Web_Developer_Monochromatic_2.svg';

const sectionTitle = 'frontend';
---

<Section
  id={sectionTitle}
  svg={Svg}
  svgAlt="Web development illustration"
  title={sectionTitle}
>
  <p>
    As a front-end wizard, I create digital experiences that are so smooth,
    you'll swear your screen is gliding on butter. With my mad skills in HTML,
    CSS, and JavaScript, I can bring any design to life and make it responsive
    to all devices. My weapon of choice is React, but I'm also fluent in other
    front-end frameworks and libraries. From designing sleek and stylish
    interfaces to building complex web applications, I'm always up for a coding
    adventure. Let's make your website look so good, it'll make the internet
    jealous!
  </p>
</Section>
