<div class="grid" id="frontend">
  <article>
    <h2>Frontend</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt
      arcu a lorem consectetur, at pellentesque elit feugiat. Sed tempor
      bibendum dictum. Vivamus nisi sapien, euismod vel posuere nec, bibendum at
      tortor. Curabitur viverra semper convallis. In scelerisque urna libero,
      nec volutpat leo fringilla ac. Donec ut metus quam. Nunc sed risus in enim
      dapibus viverra at nec ex.
    </p>
  </article>
  <div>image</div>
</div>

<style>
    h2::before {
        content: "# ";
        font-style: italic;
    }
</style>