---
import Seb from "../assets/img/seb-xl.webp";
import { HeartHandshake, Mail } from "lucide-preact";
import { Picture } from "@astrojs/image/components";
---

<header class="container-hybrid" id="hero">
  <div class="grid">
    <div class="info-section">
      <hgroup>
        <h1>Hey there, I'm <strong class="text--gradient">Seb!</strong></h1>
        <h2>
          With expertise in software development, team leadership, and UX
          design, I have the skills and experience to bring your vision to life!
        </h2>
      </hgroup>
      <a
        href="https://pl.linkedin.com/in/sebastian-dybowski"
        role="button"
        target="_blank">
        <HeartHandshake /> hire me
      </a>
      <a
        href="mailto:dybowski.seb@gmail.com"
        role="button"
        class="secondary"
      >
        <Mail /> email me
      </a>
      <p>
        <i class="bi bi-mouse3 mouse"></i>
        <i class="bi bi-hand-index swipe"></i>
        <strong class="scroll__label">Scroll</strong> 
        <strong class="swipe__label">Swipe</strong> for next sections.
      </p>
    </div>
    <div class="image-wrapper">
      <Picture
        alt="Seb's portrait"
        widths={[576, 768, 992, 1200]}
        src={Seb}
      />
    </div>
  </div>
</header>

<style>
  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    min-height: 85svh;
    position: relative;
    overflow: hidden;
  }

  .mouse,
  .swipe {
    margin-top: -0.25rem;
    position: relative;
    animation: MoveUpDown 1s linear infinite;
  }

  .swipe,
  .swipe__label {
    display: none;
  }

  .text--gradient {
    background-image: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    animation: pulse 1s ease-in-out infinite;
  }

  .info-section {
    z-index: 1;
  }

  h1 {
    font-size: 3rem;
  }

  img {
    position: absolute;
    bottom: 0;
    left: 40%;
    height: 100%;
    mix-blend-mode: luminosity;
    opacity: 0.9;
  }

  p {
    margin: 2rem 0;
  }

  @media screen and (max-width: 1200px) {
    .info-section {
      width: 120%;
    }
  }

  @media (max-width: 992px) {
    #hero {
      min-height: auto;
    }

    .grid {
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      justify-items: center;
      align-items: center;
    }

    img {
      margin: 1rem auto;
      display: block;
      width: 80%;
      height: auto;
      position: static;
      opacity: 1;
      border-radius: 50%;
      mix-blend-mode: unset;
      background-image: var(--primary-gradient);
    }

    .image-wrapper {
      width: 100%;
      display: flex;
    }

    .info-section {
      width: 100%;
      text-align: center;
    }

    .mouse,
    .scroll__label {
      display: none;
    }

    .swipe,
    .swipe__label {
      display: inline-block;
    }
  }

  @media screen and (max-width: 576px) {
    .info-section {
      width: 100%;
    }

    h1 {
      font-size: 2.25rem;
    }
  }
</style>
