<header class="grid" id="hero">
  <div>
    <hgroup>
      <h1>Hey there, I'm <strong class="gradient-mark">Seb!</strong></h1>
      <h2>Ready to elevate your web game to new heights?</h2>
    </hgroup>
    <p>
      Looking for a skilled professional who can handle all aspects of your web
      project? Look no further. With expertise in software development, team
      leadership, and UX design, I have the skills and experience to bring your
      vision to life!
    </p>
    <a
      href="https://pl.linkedin.com/in/sebastian-dybowski"
      role="button"
      target="_blank">🔗 Contact me!</a
    >
    <a
      href="https://github.com/sebdybowski"
      role="button"
      class="secondary"
      target="_blank">🔗 See my code!</a
    >
  </div>
  <div class="gradient">
    <img src="/seb-lg.webp" />
  </div>
</header>

<style>
  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 100%;
    }
  }

  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gradient-mark {
    background-image: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    animation: pulse 2s ease-in-out infinite;
  }

  .gradient {
    background-image: var(--primary-gradient);
    background-size: 100% 200%;
    background-position-y: 100%;
    animation: pulse 2s ease-in-out infinite;
    border-radius: 50%;
    position: relative;
  }

  svg {
    fill: var(--primary);
  }

  img {
    border-radius: 50%;
  }

  a[role="button"] {
    border-radius: 1rem;
  }
</style>

<style is:global>
  mark:not(.gradient-mark) {
    border-radius: 0.25rem;
    margin: 0 0.25rem;
  }
</style>
