---
import SebSm from "../assets/img/seb-sm.webp";
import SebMd from "../assets/img/seb-md.webp";
import SebLg from "../assets/img/seb-lg.webp";
import SebXl from "../assets/img/seb-xl.webp";
import { HeartHandshake, Code2, Mouse, Hand, Mail } from "lucide-preact";
---

<header class="container-hybrid" id="hero">
  <div class="grid">
    <div class="info-section">
      <hgroup>
        <h1>Hey there, I'm <strong class="gradient-mark">Seb!</strong></h1>
        <h2>
          With expertise in software development, team leadership, and UX
          design, I have the skills and experience to bring your vision to life!
        </h2>
      </hgroup>
      <a
        href="https://pl.linkedin.com/in/sebastian-dybowski"
        role="button"
        target="_blank"><HeartHandshake /> hire me</a
      >
      <a href="mailto:dybowski.seb@gmail.com" role="button" class="secondary"
        ><Mail /> email me</a
      >
      <p>
        <Mouse aria-label="Scroll" class="mouse" />
        <Hand aria-label="Swipe" class="swipe" />
        <strong class="scroll__label">Scroll</strong>
        <strong class="swipe__label">Swipe</strong> for next sections.
      </p>
    </div>
    <div class="image-wrapper">
      <img
        alt="
          Seb'
          portrait"
        srcset={`${SebSm} 576w, ${SebMd} 768w, ${SebLg} 992w, ${SebXl} 1200w`}
      />
    </div>
  </div>
</header>

<style>
  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    min-height: 85svh;
    position: relative;
    overflow: hidden;
  }

  .mouse,
  .swipe {
    margin-top: -0.25rem;
    position: relative;
    animation: MoveUpDown 1s linear infinite;
  }

  .swipe,
  .swipe__label {
    display: none;
  }

  .gradient-mark {
    background-image: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    animation: pulse 2s ease-in-out infinite;
  }

  .gradient {
    background-image: var(--primary-gradient);
    background-size: 100% 200%;
    background-position-y: 100%;
    animation: pulse 2s ease-in-out infinite;
    border-radius: 50%;
    position: relative;
  }

  .info-section {
    z-index: 1;
  }

  h1 {
    font-size: 3rem;
  }

  img {
    position: absolute;
    bottom: 0;
    left: 40%;
    height: 100%;
    mix-blend-mode: luminosity;
    opacity: 0.9;
  }

  p {
    margin: 2rem 0;
  }

  @media screen and (max-width: 1200px) {
    .info-section {
      width: 120%;
    }
  }

  @media (max-width: 992px) {
    img {
      z-index: 0;
      opacity: 0.4;
      height: auto;
      max-height: 100%;
      width: 80%;
    }

    .info-section {
      width: 80%;
    }

    .mouse,
    .scroll__label {
      display: none;
    }

    .swipe,
    .swipe__label {
      display: inline-block;
    }
  }

  @media screen and (max-width: 576px) {
    #hero {
      align-items: flex-end;
    }

    .info-section {
      width: 100%;
    }

    h1 {
      font-size: 2.25rem;
    }

    img {
      height: 100%;
      width: 100%;
      left: 0;
      object-fit: cover;
      object-position: center bottom;
    }
  }
</style>

<style is:global>
  mark:not(.gradient-mark) {
    border-radius: 0.25rem;
    margin: 0 0.25rem;
  }
</style>
