---
import SebSm from "../assets/img/seb-sm.webp";
import SebMd from "../assets/img/seb-md.webp";
import SebLg from "../assets/img/seb-lg.webp";
import SebXl from "../assets/img/seb-xl.webp";
import { HeartHandshake, Code2, Mouse } from "lucide-preact";
---

<header class="container" id="hero">
  <div class="grid">
    <div>
      <hgroup>
        <h1>Hey there, I'm <strong class="gradient-mark">Seb!</strong></h1>
        <h2>
          Looking for a skilled professional who can handle all aspects of your
          web project? <strong>Look no further.</strong>
        </h2>
      </hgroup>
      <p></p>
      <p>
        With expertise in software development, team leadership, and UX design,
        I have the skills and experience to bring your vision to life!
      </p>
      <a
        href="https://pl.linkedin.com/in/sebastian-dybowski"
        role="button"
        target="_blank"><HeartHandshake /> hire me</a
      >
      <a
        href="https://github.com/sebdybowski"
        role="button"
        class="secondary"
        target="_blank"><Code2 /> check my code</a
      >
      <br />
      <br />
      <p>
        <Mouse aria-label="Scroll" class="mouse" /> Scroll for next sections.
      </p>
    </div>
    <div>
      <img
        alt="
          Seb'
          portrait"
        srcset={`${SebSm} 576w, ${SebMd} 768w, ${SebLg} 992w, ${SebXl} 1200w`}
      />
    </div>
  </div>
</header>

<style>
  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 100%;
    }
  }

  @keyframes press {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0.25rem);
    }
  }

  @keyframes MoveUpDown {
    0%,
    100% {
      bottom: -0.25rem;
    }
    50% {
      bottom: 0.25rem;
    }
  }

  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80svh;
    position: relative;
    padding: var(--block-spacing-vertical) 0;
  }

  .mouse {
    margin-top: -0.25rem;
    position: relative;
    animation: MoveUpDown 1s linear infinite;
  }

  .gradient-mark {
    background-image: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    animation: pulse 2s ease-in-out infinite;
  }

  .gradient {
    background-image: var(--primary-gradient);
    background-size: 100% 200%;
    background-position-y: 100%;
    animation: pulse 2s ease-in-out infinite;
    border-radius: 50%;
    position: relative;
  }

  img {
    position: absolute;
    bottom: 0;
    right: -5%;
    height: 100%;
    mix-blend-mode: luminosity;
  }

  @media screen and (max-width: 1200px) {
    img {
      height: auto;
      width: 60%;
    }
  }

  @media screen and (max-width: 992px) {
    img {
      position: initial;
      width: 100%;
    }
  }
</style>

<style is:global>
  mark:not(.gradient-mark) {
    border-radius: 0.25rem;
    margin: 0 0.25rem;
  }
</style>
