<header class="grid">
  <div>
    <hgroup>
      <h1>Hi, I'm <mark class="gradient-mark">Seb</mark></h1>
      <h2>Nice to meet you!</h2>
    </hgroup>
    <p>
      I am creating <i>spectacular</i>&nbsp;<mark>user experiences</mark>
      and <i>reliable</i>&nbsp;<mark>code</mark> for the web.
    </p>
    <a
      href="https://pl.linkedin.com/in/sebastian-dybowski"
      role="button"
      class="outline"
      target="_blank">🔗 Contact me!</a
    >
    <a
      href="https://github.com/sebdybowski"
      role="button"
      class="outline secondary"
      target="_blank">🔗 See my code!</a
    >
  </div>
  <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path
      id="blob"
      d="M44.7,-37.7C57.6,-19.5,67.6,-0.9,62.8,12.1C58.1,25.2,38.7,32.7,22.9,35.7C7.1,38.8,-5.1,37.4,-19.4,33.2C-33.7,29,-50.1,22.1,-58.4,7.2C-66.7,-7.7,-66.8,-30.5,-55.7,-48.3C-44.6,-66.1,-22.3,-78.8,-3.2,-76.2C15.9,-73.7,31.8,-55.8,44.7,-37.7Z"
      transform="translate(100 100)"></path>
  </svg>
</header>

<style>
  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .gradient-mark {
    background-image: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    animation: pulse 2s ease-in-out infinite;
  }

  svg {
    fill: var(--primary);
  }
</style>

<style is:global>
  mark:not(.gradient-mark) {
    border-radius: 0.25rem;
    margin: 0 0.25rem;
  }
</style>
