---
import Section from "../components/Section.astro";
import Svg from "../assets/svg/Team_building_Monochromatic.svg";

const sectionTitle = "leadership";
---

<Section
  id={sectionTitle}
  svg={Svg}
  svgAlt="Team development illustration"
  title={sectionTitle}
>
  <p>
    As a team lead and agile coach, I'm all about empowering my team to deliver
    amazing results. I lead by example, fostering an environment of
    collaboration, trust, and transparency. Whether we're using Scrum, Kanban,
    or another agile framework, I make sure everyone is aligned, motivated, and
    working towards a common goal. I help my team identify areas for
    improvement, and I'm always looking for ways to optimize our processes and
    increase efficiency.
  </p>
</Section>
