@use 'styles/variables.scss' as *;

.Heading {
  position: relative;
  margin: 1rem 0;
  font-family: $main-font;
}

h1.Heading {
  font-size: 3rem;

  @media screen and (max-width: ($breakpoint-md - 1)) {
    font-size: 2.5rem;
  }
}

h2.Heading {
  font-size: 1.75rem;
  font-weight: normal;
  color: $text-color-light
}

.Heading--serif {
  font-family: $display-font;
}

.Heading--brand {
  color: $text-color-dark;

  @media screen and (max-width: ($breakpoint-md - 1)) {
    background-color: $text-color-light;
    padding: 0.5rem;
    border-radius: 2rem;
    font-weight: 900;
  }
}

.Heading--section {
  @media (prefers-color-scheme: light) {
    color: $text-color-dark;
  }
  
  &:hover {
    text-decoration: underline;
  }
}

