.Heading {
    margin: 0.5rem 0;
}

h1.Heading {
    font-size: 6rem;
}

h2.Heading {
    font-size: 5rem;
}

h3.Heading {
    font-size: 4rem;
}

.Heading--serif {
    font-family: 'Times New Roman', Times, serif;
}

.Heading--brand {
    color: var(--primary-color);
}