.Heading {
  position: relative;
  margin: 2rem 0;
}

h1.Heading {
  font-size: 5rem;
}

h2.Heading {
  font-size: 3rem;
}

.Heading--serif {
  font-family: var(--font-family-display);
}

.Heading--brand {
  color: var(--primary-color);
}

.Heading--section::after {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--primary-color);
  position: absolute;
  border-radius: 0.5rem;
  bottom: -1.8rem;
  left: calc(50% - 0.25rem);
}