---
import { Sun, MoonStar } from 'lucide-preact';
import { SWITCHER_ID } from './themeSwitcher';
import styles from './ThemeSwitcher.module.css';
---

<label for={SWITCHER_ID} title="Theme switcher" class={styles.label}>
  <MoonStar size="1.125rem" aria-hidden="true"/>
  <input type="checkbox" name="switch" role="switch" id={SWITCHER_ID} />
  <Sun size="1.125rem" aria-hidden="true" />
</label>

<script>
  import { initThemeSwitcher } from './themeSwitcher';

  initThemeSwitcher();
</script>
