---
import { Icon } from "astro-icon/components";
import { SWITCHER_ID } from "./themeSwitcher";
import styles from "./ThemeSwitcher.module.css";
---

<label for={SWITCHER_ID} title="Theme switcher" class={styles.label}>
  <Icon name="lucide:moon-star" />
  <input type="checkbox" name="switch" role="switch" id={SWITCHER_ID} />
  <Icon name="lucide:sun" />
</label>

<script>
  import { initThemeSwitcher } from "./themeSwitcher";

  initThemeSwitcher();
</script>
