---
import { Sun, MoonStar } from "lucide-preact";
import { SWITCHER_ID } from "./ThemeSwitcher";
---

<script>
  import { initThemeSwitcher } from "./ThemeSwitcher";

  initThemeSwitcher();
</script>

<label for={SWITCHER_ID} title="Theme switcher">
  <MoonStar size="1.125rem" alt="dark theme icon" />
  <input type="checkbox" name="switch" role="switch" id={SWITCHER_ID} />
  <Sun size="1.125rem" alt="light theme icon" />
</label>

<style>
  label {
    cursor: pointer;
  }
</style>