@import url('@picocss/pico/css/pico.css');
/* @import url(@fontsource/comfortaa);
@import url(@fontsource/volkhov); */
@import url(@fontsource/dm-serif-display);
@import url(@fontsource/dm-sans);
/* @import url(@fontsource/cormorant); */

:root,
[data-theme="light"],
:root:not([data-theme="dark"])
{
  /* pico.css */
  /* --primary: hsl(281, 100%, 60%); */
  --primary: #ff7070;
  --tertiary: #893e65;
  --primary-hover: #c45656;
  --switch-checked-background-color: var(--primary);
  --border-radius: 0.5rem;
  --card-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);

  /* custom variables */
  --primary-gradient: linear-gradient(200deg, var(--primary), var(--tertiary));
  --primary-gradient-inverse: linear-gradient(20deg, var(--tertiary), var(--primary));

}

/* light theme only */
[data-theme=light],
:root:not([data-theme=dark])
{
  --background-color: #fcf7f9;
  --muted-border-color: #f2e4ea;
}

hgroup>*:last-child,
.headings>*:last-child
{
  --color: var(--h2-color);
}

span:hover,
strong:hover,
em:hover,
p:hover,
i:hover,
b:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover
{
  cursor: text;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  /* font-family: "Volkhov"; */
  /* font-family: "Comfortaa"; */
  font-family: "DM Serif Display";
  /* font-family: "Cormorant"; */
}

body
{
  font-family: "DM Sans";
}

article
{
  padding: var(--block-spacing-horizontal);
}

.container-hybrid
{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}

@media (min-width: 576px)
{
  .container-hybrid
  {
    padding: 0 calc((100% - 510px) / 2);
  }
}

@media (min-width: 768px)
{
  .container-hybrid
  {
    padding: 0 calc((100% - 700px) / 2);
  }
}

@media (min-width: 992px)
{
  .container-hybrid
  {
    padding: 0 calc((100% - 920px) / 2);
  }
}

@media (min-width: 1200px)
{
  .container-hybrid
  {
    padding: 0 calc((100% - 1130px) / 2);
  }
}