@import url('@picocss/pico/css/pico.css');

:root,
[data-theme="light"],
:root:not([data-theme="dark"]) {
  /* pico.css */
  --primary: hsl(281, 100%, 60%);
  --tertiary: hsl(191, 100%, 60%);
  --primary-hover: hsl(281, 100%, 40%);;
  --switch-checked-background-color: var(--primary);
  --border-radius: 0.5rem;

  /* custom variables */
  --primary-gradient: linear-gradient(200deg, var(--primary), var(--tertiary));
  --primary-gradient-inverse: linear-gradient(20deg, var(--tertiary), var(--primary));
}

span:hover,
strong:hover,
em:hover,
p:hover,
i:hover,
b:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  cursor: text;
}