---
import "../global.css";
import { THEME } from "../components/ThemeSwitcher/ThemeSwitcher";
import Navbar from "../components/Navbar.astro";
import Dialog from "../components/Dialog.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme={THEME.DARK}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body id="home">
    <Navbar />
    <Dialog />
    <slot />
  </body>
</html>
