---
import '../global.css';
import ThemeSwitcher from '../components/ThemeSwitcher/ThemeSwitcher.astro';
import { THEME } from '../components/ThemeSwitcher/ThemeSwitcher';

export interface Props {
  title: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme={THEME.DARK}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <nav class="container top-bar">
      <ul>
        <li>
          <ThemeSwitcher />
        </li>
      </ul>
      <ul>
        <li>
          <a href="#frontend"># Frontend</a>
        </li>
        <li>Backend</li>
        <li>User experience</li>
        <li>Teamwork</li>
      </ul>
    </nav>
    <slot />
    <style>
      .top-bar {
        border-bottom: var(--border-width) solid var(--muted-border-color);
      }
    </style>
  </body>
</html>
