---
import "@picocss/pico/css/pico.min.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      const THEME = {
        LIGHT: "light",
        DARK: "dark",
        ATTRIBUTE: "data-theme",
        BUTTON: "change-theme",
      };

      const button = document.getElementById(THEME.BUTTON);
      const html = document.getElementsByTagName("html")[0];

      if (button)
        button.onclick = function () {
          const theme = html.getAttribute(THEME.ATTRIBUTE);

          if (theme === THEME.LIGHT)
            html.setAttribute(THEME.ATTRIBUTE, THEME.DARK);
          if (theme === THEME.DARK)
            html.setAttribute(THEME.ATTRIBUTE, THEME.LIGHT);
        };
    </script>
  </head>
  <body>
    <button id="change-theme">switch theme</button>
    <slot />
  </body>
</html>
