// colors
$brand-color-primary: #21D4FD;
$brand-color-secondary: #B721FF;
$text-color-dark: #16076d;
$text-color-light: #F2F2F2;
$bg-color: $text-color-light;

// breakpoints
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;

// backgrounds
$brand-bg: linear-gradient(20deg, $brand-color-primary 0%, $brand-color-secondary 100%);
$brand-bg-inverse: linear-gradient(200deg, $brand-color-primary 0%, $brand-color-secondary 100%);

// typography
$base-font-size: 12px;
$md-font-size: 14px;
$lg-font-size: 16px;
$xl-font-size: 18px;
$main-font: 'Comfortaa', sans-serif;
$display-font: 'Playfair Display';
